body {
  font-family: "Poppins", sans-serif;
  color: var(--color-body-dark);
}

a {
  text-decoration: none;
  transition: color var(--transition-duration);
}

a:visited {
  color: inherit;
}

a:hover {
  color: #000;
}

nav {
  list-style: none;
}

.icon {
  font-size: 1.3rem;
}
