body {
  font-family: "Poppins", sans-serif;
  color: var(--color-body-dark);
}

a {
  text-decoration: none;
  color: var(--color-accent);
  transition: color 0.2s;
}

a:hover {
  color: var(--color-body-light);
}
