:root {
  --color-background: #e6e6e6;
  --color-heading: #3f434a;
  --color-body-light: #8a9099;
  --color-body-dark: #595f69;
  --color-grey: #c6c9cc;
  --color-border: #e8e9eb;
  --color-white: #ffffff;
  --color-bg: #f8f8f8;
  --color-accent: #304ffd;
  --color-orange: #ff965d;
  --color-red: #fd7972;
  --color-dark-red: #f05c54;
  --color-yellow: #ffd240;
  --color-dark-blue: #009eb3;
  --color-purple: #b656eb;
  --color-pink: #f9ddc5;
}
