:root {
  --form-control-padding-x: 0.8rem;
  --form-control-padding-y: 0.4628rem;
  --form-control-height: 2.625rem;
}

select,
input:not([type="checkbox"]),
textarea {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: transparent;
  height: var(--form-control-height);
  transition: border-color var(--transition-duration);
  outline: none;
}

select {
  padding: var(--form-control-padding-y)
    calc(var(--form-control-padding-x) + 1rem) var(--form-control-padding-y)
    var(--form-control-padding-x);
  color: var(--color-body);
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 0.8rem center;
  background-image: url(../../images/select-arrow.png);
  background-size: 0.5rem;
}

input:not([type="checkbox"]),
textarea {
  padding: var(--form-control-padding-y) var(--form-control-padding-x);
  font-family: var(--font-family);
  width: 100%;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon.left-icon input {
  padding-left: 2.8rem;
}

.input-with-icon.right-icon input {
  padding-right: 2.8rem;
}

.input-with-icon .left,
.input-with-icon .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-with-icon .left {
  left: 1rem;
  color: var(--color-body-light);
  margin: 0;
}

.input-with-icon .right {
  right: 0.2rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.input-group {
  display: flex;
}

.input-group > :first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.input-group > :focus {
  z-index: 1;
}

.time-range {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.time-range .input {
  width: 100%;
}

.input-group input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.input-group input[type="time"] {
  max-width: 5rem;
}

.input-group input[type="date"] {
  max-width: 100%;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--color-primary);
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: var(--color-grey-light);
  pointer-events: none;
}

input[type="date"] {
  color: var(--color-body);
}
