:root {
  --form-control-padding-x: 0.8rem;
  --form-control-padding-y: 0.4628rem;
}

select,
input,
textarea {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  transition: border-color var(--transition-duration);
  outline: none;
}

select {
  padding: var(--form-control-padding-y)
    calc(var(--form-control-padding-x) + 1rem) var(--form-control-padding-y)
    var(--form-control-padding-x);
  color: var(--color-body-dark);
  background-color: transparent;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 0.8rem center;
  background-image: url(../../images/select-arrow.png);
  background-size: 0.5rem;
}

input,
textarea {
  padding: var(--form-control-padding-y) var(--form-control-padding-x);
  font-family: var(--font-family);
  width: 100%;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon.left-icon input {
  padding-left: 2.8rem;
}

.input-with-icon.right-icon input {
  padding-right: 2.8rem;
}

.input-with-icon .left,
.input-with-icon .right {
  position: absolute;
}

.input-with-icon .left {
  top: 0.5rem;
  left: 1rem;
  color: var(--color-body-light);
}

.input-with-icon .right {
  top: 0.1rem;
  right: 0.1rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: var(--color-body-light);
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--color-primary);
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: var(--color-grey);
  pointer-events: none;
}

input[type="date"] {
  color: var(--color-body-dark);
}
