@use "../variables";
@use "../colors";

.board {
  background-color: colors.$bg;
  overflow: hidden;
  max-height: 100vh;
  overflow-y: scroll;

  .page-view-toggles {
    @include variables.flex(0.2rem);
  }

  .tabs .actions .page-view-toggles > .active {
    color: colors.$primary;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;

    .project-list-item .dropdown {
      top: 4.5rem;
      right: 0.7rem;
    }
  }

  @media (max-width: map-get(variables.$breakpoints, "sm")) {
    .page-header .heading {
      font-size: 1.6rem;
    }
  }
}
