@use "../colors";

.projects-details .grid {
  display: grid;
  grid-template-columns: 350px 1fr 310px;
}

.projects-details .related-projects-list,
.projects-details .related-projects-list .searchbar {
  background-color: colors.$bg;
  position: sticky;
  align-self: start;
}

.projects-details .related-projects-list {
  border-right: 1px solid colors.$border;
  top: var(--app-header-height);
}

.projects-details .related-projects-list .searchbar {
  top: 0;
}

.projects-details .related-projects-list .searchbar input {
  --form-control-padding-y: 2rem;
  border: none;
}

.projects-details .related-projects-list .searchbar,
.projects-details .related-projects-list .related-projects-list-item {
  border-bottom: 1px solid colors.$border;
}

.projects-details .related-projects-list {
  overflow-y: auto;
  height: calc(100vh - var(--app-header-height));
}

.projects-details .container {
  --container-padding: 1.8rem;
  gap: 1rem;
  overflow-x: hidden;
}

.projects-details .project .header,
.projects-details .project,
.projects-details .activity {
  display: flex;
}

.projects-details .project,
.projects-details .activity {
  flex-direction: column;
}

.projects-details .project {
  gap: 2.5rem;
}

.projects-details .project .header {
  align-items: center;
}

.projects-details .project .mini-profile .title {
  font-size: 1.25rem;
}

.projects-details .project .intro {
  overflow-x: auto;
}

.projects-details .project .intro .lead,
.projects-details .project .description .lead,
.projects-details .project .checklist .lead {
  margin-bottom: 0.8rem;
}

.projects-details .stats {
  gap: 5rem;
}

.projects-details .project .checklist .progress-bar {
  margin-bottom: 1rem;
}

.projects-details .project .checklist .tasks {
  margin-bottom: 0.5rem;
}

.projects-details .project .checklist .add-task {
  margin-left: auto;
}

.projects-details .activity .tabs {
  margin-left: calc(var(--container-padding) * -1);
  margin-right: calc(var(--container-padding) * -1);
  padding: 0 var(--container-padding);
}

.projects-details .activity {
  gap: 2rem;
}

.projects-details .sidebar {
  border-left: 1px solid colors.$border;
}

.projects-details .sidebar.container {
  gap: 1.5rem;
}

.projects-details .sidebar .project-status {
  width: 100%;
}

.projects-details .sidebar .widget {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects-details .sidebar .add,
.projects-details .sidebar .download {
  margin-right: calc(var(--button-padding-x) * -1);
}

/* Breakpoint-xl */
@media (max-width: 1200px) {
  .projects-details .grid {
    grid-template-columns: 1fr 250px;
  }
  .projects-details .related-projects-list {
    display: none;
  }
}

/*  Breakpoint-lg */
@media (max-width: 992px) {
  .projects-details .project .intro .stats {
    gap: 2rem;
  }
}

/* Breakpoint-sm */
@media (max-width: 768px) {
  .projects-details .grid {
    grid-template-columns: 1fr;
  }
}
