@use "../variables";
@use "../colors";

$list-view-padding: 1.5rem;

.projects-list {
  border-radius: map-get(variables.$radius, lg);
  background-color: #fff;

  .header {
    padding: $list-view-padding;
    display: flex;
    gap: 1.5rem;
  }

  .table-overflow {
    overflow-x: auto;
  }

  table {
    .mini-profile {
      .title {
        font-size: 1rem;
      }

      .subtitle {
        color: colors.$body-light;
      }
    }

    .progress-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: colors.$body-light;
    }
  }

  .project-name {
    min-width: 20rem;
  }

  .author {
    min-width: 17rem;
  }

  .progress {
    width: 100%;
    .progress-bar {
      min-width: 20rem;
    }
  }

  .footer {
    padding: $list-view-padding;
  }
}
