@use "../colors";
@use "../fx";

$list-view-padding: 1.5rem;

.projects-list {
  border-radius: map-get(fx.$radius, "radius");
  background-color: #fff;
}

.projects-list .header {
  padding: $list-view-padding;
  display: flex;
  gap: 1.5rem;
}

.projects-list .table-overflow {
  overflow-x: auto;
}

.projects-list table .mini-profile .title {
  font-size: 1rem;
}

.projects-list table .mini-profile .subtitle,
.projects-list table .progress-info {
  color: map-get(colors.$color, "body-light");
}

.projects-list table .progress-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.projects-list .footer {
  padding: $list-view-padding;
}

.projects-list .project-name,
.projects-list .progress .progress-bar {
  min-width: 20rem;
}

.projects-list .author {
  min-width: 17rem;
}

.projects-list .progress {
  width: 100%;
}
