.app-header {
  padding: 0.7rem 1.2rem;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  color: var(--color-heading);
  justify-content: space-between;
  align-items: center;
}

.app-header .right-side-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.app-header .right-side-content .divider {
  height: 2rem;
  width: 1px;
  background-color: var(--color-border);
}

.app-header .right-side-content .actions .dot {
  width: 7px;
  height: 7px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  background-color: var(--color-red);
  position: absolute;
  top: 0.6rem;
  right: 0.7rem;
}

/* ----breakpoint-sm---- */
@media (max-width: 786px) {
  .app-header .actions .btn:last-child,
  .app-header .user-profile .avatar {
    display: none;
  }
}
