:root {
  --app-header-height: 66px;
}

.app-header,
.app-header .user-profile-dropdown {
  display: flex;
  align-items: center;
}

.app-header {
  padding: 0.7rem var(--container-padding);
  border-bottom: 1px solid var(--color-border);
  background-color: #fff;
  color: var(--color-heading);
  height: var(--app-header-height);
  gap: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-header .app-sidebar-toggle {
  margin-right: auto;
}

.app-header .user-profile-dropdown {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  margin-left: 1rem;
}

.app-header .user-profile-dropdown .text-info .title {
  width: max-content;
}

.app-header .notification .dot {
  width: 7px;
  height: 7px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: var(--color-danger);
  position: absolute;
  top: 9px;
  right: 10px;
}

/* ----breakpoint-sm---- */
@media (max-width: 786px) {
  .app-header .btn.notification,
  .app-header .mini-profile .avatar {
    display: none;
  }
}
