.app-header {
  padding: 0.7rem 1.2rem;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  color: var(--color-heading);
  align-items: center;
  gap: 0.5rem;
}

.app-header .minimize {
  margin-right: auto;
}

.app-header .divider {
  height: 2rem;
  width: 1px;
  background-color: var(--color-border);
}

.app-header .user-profile-dropdown {
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.app-header .notification .dot {
  width: 7px;
  height: 7px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: var(--color-danger);
  position: absolute;
  top: 0.6rem;
  right: 0.7rem;
}

/* ----breakpoint-sm---- */
@media (max-width: 786px) {
  .app-header .btn.notification,
  .app-header .user-profile .avatar {
    display: none;
  }

  .app-header {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
}
