.badge {
  --border-radius-sm: 6px;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  gap: 0.3rem;
  background-color: var(--color-border);
  color: var(--color-body-light);
  padding: 0.5px 5px;
  font-size: 0.7rem;
  border-radius: var(--border-radius-sm);
}

.badge .icon {
  font-size: 1.1rem;
}

.badge.wide {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.badge.large {
  font-size: 0.875rem;
  padding: 0.2rem 0.5rem;
}

.badge.large.icon {
  padding-left: 0.4rem;
}

.badge.light {
  background-color: var(--color-bg);
  color: var(--color-heading);
}

.badge.warning {
  background-color: var(--color-danger);
  color: #fff;
}

.badge.warning-light {
  background-color: var(--color-warning-light);
  color: var(--color-warning-dark);
}

.badge.danger-light {
  background-color: var(--color-danger-light);
  color: var(--color-danger-dark);
}
