.btn {
  all: unset;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  border-radius: var(--border-radius-sm);
  line-height: 0;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: var(--color-bg);
}

.btn.icon-only {
  padding: 0.5rem;
}
