.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0.8rem 1.2rem;
  border-radius: var(--border-radius-sm);
  position: relative;
  transition: background-color var(--transition-duration);
}

.btn:hover {
  background-color: var(--color-bg);
}

.btn.icon-only {
  padding: 0.5rem;
}
