input[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  appearance: none;
  margin: 0;
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
  font-family: "Material Icons";
  font-size: 1.25rem;
  color: var(--color-body-light);
}

input[type="checkbox"]::before {
  content: "\e835";
}

input[type="checkbox"]::after {
  content: "\e834";
  color: var(--color-primary);
}

input[type="checkbox"]:not(:checked)::before {
  display: block;
}

input[type="checkbox"]:checked::before {
  display: none;
}

input[type="checkbox"]:not(:checked)::after {
  display: none;
}

input[type="checkbox"]:checked::after {
  display: block;
}
