.divider {
  height: 2rem;
  width: 0.08rem;
  background: var(--color-border);
  display: inline-block;
}

.divider.small {
  height: 1rem;
}

.divider.horizontal {
  height: 0.1rem;
  width: 100%;
  border-top: none;
  border: transparent;
}
