.drawer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  width: 24rem;
  height: 100%;
  box-shadow: -4px 20px 24px 0px #d6d7d966;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.drawer.active {
  display: flex;
}

.drawer .header,
.drawer .actions {
  display: flex;
  align-items: center;
}

.drawer .header {
  justify-content: space-between;
}

.drawer .actions {
  gap: 0.5rem;
}

.drawer .header .heading {
  font-weight: 500;
}

.drawer .header .icon {
  font-size: 1.2rem;
}

.drawer .input-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.drawer .input-info .text-info {
  color: var(--color-body-light);
}

/*   --breakpoint-xs */
@media (max-width: 576px) {
  .drawer {
    width: 100%;
  }
}
