.dropdown-menu {
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 4px 4px 4px #eeeeee;
  position: absolute;
  right: 0.5rem;
  top: 3.5rem;
}

.dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--color-body-dark);
  padding: 0.5rem 2.5rem 0.5rem 1rem;
}

.projects .dropdown-menu .horizontal-divider {
  margin-bottom: 0.5rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.dropdown-menu .nav .dropdown-item .item-name.red {
  color: var(--color-red);
}
