.dropdown {
  background: #fff;
  padding: 0.5rem 0;
  border-radius: var(--border-radius);
  box-shadow: 0px 20px 50px 0px rgba(44, 63, 88, 0.15);
  position: absolute;
  display: none;
}

.dropdown.active {
  display: block;
}

.dropdown .action {
  color: var(--color-body-dark);
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.6rem 2rem;
  transition: color var(--transition-duration),
    background-color var(--transition-duration);
}

.dropdown .action .icon {
  color: var(--color-body-light);
}

.dropdown .action:hover {
  background-color: var(--color-bg);
}

.dropdown .action.danger,
.dropdown .action.danger .icon {
  color: var(--color-danger);
}

.dropdown .action.danger:hover {
  background-color: var(--color-danger-light);
}
