.file {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 0;
}

.file .file-icon {
  width: 2.5rem;
  object-fit: cover;
}

.file .file-name {
  display: block;
  color: var(--color-heading);
  width: 75%;
}

.file .file-size {
  color: var(--color-body-light);
  text-transform: uppercase;
}
