.filter-modal {
  background-color: #fff;
  padding: 1.5rem;
  height: 100%;
  width: 50vh;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 4px #c3c3c3;
}

.filter-modal > * {
  margin-bottom: 2rem;
}

.filter-modal .header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter-modal .header .heading {
  margin-right: auto;
}

.filter-modal .select {
  width: 100%;
}

.filter-modal .select-heading {
  margin-bottom: 0.5rem;
  color: var(--color-body-light);
}

.filter-modal .reset {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-modal .reset .btn:nth-child(2) {
  text-decoration: underline;
  color: var(--color-primary);
}
