.filter-tab {
  background: var(--color-white);
  width: 34%;
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: -6px 4px 6px 3px #eeeeee;
}

.filter-tab .filter .name {
  font-size: 0.85rem;
  color: var(--color-body-light);
}

.filter-tab > * {
  margin-bottom: 2rem;
}

.filter-tab .heading {
  font-size: 1.8rem;
}

.filter-tab .header {
  display: flex;
  justify-content: space-between;
}

.filter-tab .searchbar {
  width: 100%;
}

.filter-tab .filters {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filter-tab .filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-tab .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter-tab .btn.primary {
  padding: 0.7rem 1.8rem;
  font-size: 1rem;
}

.filter-tab .btn.reset {
  text-decoration: underline;
  color: var(--color-accent);
  font-size: 1rem;
}
