.general-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.general-info .title {
  color: var(--color-body-light);
  display: block;
  width: 99%;
}

.general-info .subtitle {
  color: var(--color-heading);
  width: 99%;
}
