.image-uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--color-body-light);
  padding: 3rem;
  border-radius: var(--border-radius-xl);
  align-self: center;
  cursor: pointer;
}

.image-uploader input[type="file"] {
  display: none;
}

.image-uploader .icon {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-body-light);
}
