input {
  padding: var(--form-control-padding-y) var(--form-control-padding-x);
  width: 100%;
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon.left-icon input {
  padding-left: 2.8rem;
}

.input-with-icon.right-icon input {
  padding-right: 2.8rem;
}

.input-with-icon .left {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

.input-with-icon .right {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
}

input:focus {
  border-color: var(--color-primary);
}

input:disabled {
  background-color: var(--color-bg-dark);
  pointer-events: none;
}
