.input-group {
  display: flex;
}

.input-group input[type="time"] {
  border-right: transparent;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.input-group input[type="date"] {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  margin-left: -1px;
}
