.input-group {
  display: flex;
}

.input-group > :first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.input-group > :last-child {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  margin-left: -1px;
}

.input-group > :focus {
  z-index: 1;
}

.timeframe {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.input-group input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.input-group input[type="time"] {
  max-width: 5rem;
}

.input-group input[type="date"] {
  max-width: 9.5rem;
}
