.mini-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  width: 100%;
}

.mini-profile .text-info {
  width: 100%;
  overflow: hidden;
}

.mini-profile .title,
.mini-profile .subtitle {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 99%;
}

.mini-profile .title {
  line-height: 1.25;
}
