.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.pagination .displayable-quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagination .summary {
  color: var(--color-body-light);
}

.pagination .pages {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  list-style: none;
}

.pagination .pages .item {
  min-width: 2.55rem;
}

@media (max-width: 768px) {
  .pagination {
    flex-direction: column;
  }
}
