.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagination .summary {
  margin-right: auto;
  color: var(--color-body-light);
}

.pagination .pages {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.pagination .pages .item {
  min-width: 2.55rem;
}
