.progress-bar {
  width: 100%;
  height: 0.4rem;
  background-color: var(--color-bg);
  border-radius: var(--border-radius-sm);
}

.progress-bar .progress {
  background-color: var(--color-body-light);
  height: 100%;
  display: block;
  border-radius: var(--border-radius-sm);
}

.progress-bar.success .progress {
  background-color: var(--color-success);
}
.progress-bar.warning .progress {
  background-color: var(--color-warning);
}
.progress-bar.danger .progress {
  background-color: var(--color-danger);
}
.progress-bar.primary .progress {
  background-color: var(--color-primary);
}
