.projects-list {
  border-radius: 20px;
  background-color: var(--color-white);
  padding: 1.3rem 1.5rem;
}

.projects-list .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.projects-list .projects-table {
  border-collapse: collapse;
  width: 100%;
  color: var(--color-body-light);
  margin-bottom: 2rem;
}

.projects-list .projects-table th,
.projects-list .projects-table td {
  padding: 0.8rem 0rem;
  font-weight: normal;
}

.projects-table tbody tr,
.projects-table thead tr {
  border-bottom: 1px solid var(--color-border);
  text-align: left;
}

.projects-list .projects-table thead th:nth-child(4) {
  width: 25%;
}

.projects-list .projects-table thead .last-col {
  text-align: center;
  width: 22%;
}

.projects-list .projects-table tbody .last-col {
  display: flex;
  justify-content: end;
}

.projects-list .projects-table .customer-info .task {
  font-size: 1rem;
  font-weight: normal;
}

.projects-list .projects-table .customer-info .company-name {
  color: var(--color-body-light);
}

.checkbox[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-bg);
  border-radius: 5px;
}

.projects-table tbody tr td .options {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.projects-list .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-list .footer .btn.outline,
.projects-list .footer .show-amount,
.projects-list .footer .pages-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.projects-list .footer .btn.outline span {
  font-size: 1rem;
}

.projects-list .footer .show-amount {
  color: (--color-body-light);
}
