.project {
  padding: 1.3rem;
  background-color: var(--color-white);
  border-radius: 15px;
}

.project > *:not(:last-child) {
  margin-bottom: 1rem;
}

.project .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project .header .customer-info {
  display: flex;
  gap: 1rem;
}

.project .header .customer-info .logo {
  width: 3rem;
  height: 3rem;
  padding: 0.4rem;
  border-radius: 15px;
  object-fit: contain;
  border: 1px solid var(--color-border);
}

.project .header .customer-info .heading {
  display: block;
  margin-bottom: -0.2rem;
  color: var(--color-heading);
}

.project .header .icon {
  font-size: 1.5rem;
}

.project .task-description {
  display: inline-block;
}

.project .progress {
  margin-bottom: 1.5rem;
}

.project .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
