.related-projects-list-item {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.related-projects-list-item.active {
  background-color: #fff;
}

.related-projects-list-item .footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding-left: 3.5rem;
}

.related-projects-list-item .footer .users {
  flex-shrink: 0;
}
