.select {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--color-border);
  padding: 0.6rem 1rem;
  border-radius: 10px;
}

.select select {
  border: none;
  width: 100%;
  color: var(--color-body-dark);
  outline: none;
  font-size: 0.9rem;
}
