.sidebar {
  --sidebar-padding: 1rem 1.7rem;
  --color-bg: #f8f8f8;
  border-right: 1px solid var(--color-border);
  min-height: 100vh;
  padding: 1rem 0;
}

.sidebar .logo {
  --sidebar-padding: 0 1.7rem;
  max-width: 10rem;
  padding: var(--sidebar-padding);
  margin: 0 auto 1rem;
}

.sidebar .logo.icon-only {
  max-width: 1.6rem;
  margin: 0 auto 1rem;
  padding: 0;
  display: none;
}

.sidebar .nav .item {
  display: flex;
  align-items: center;
  position: relative;
  padding: var(--sidebar-padding);
  color: var(--color-body-dark);
  transition: background-color 0.2s, color 0.2s;
  gap: 1rem;
}

.sidebar .nav .icon {
  font-size: 1.3rem;
}

.sidebar .nav .link-txt {
  margin-right: auto;
}

.sidebar .nav .item:hover {
  background-color: var(--color-bg);
  color: var(--color-heading);
}

.sidebar .nav .item .submenu-indicator {
  font-size: 1.2rem;
  color: var(--color-body-light);
}

.sidebar .nav .item.active {
  background-color: var(--color-bg);
  color: var(--color-heading);
}

.sidebar .nav .item.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  height: 100%;
  border-left: 7px solid var(--color-accent);
  border-radius: var(--border-radius-sm);
}

/* -----------Sidebar-collapsed-------------- */

.app.collapsed .sidebar {
  padding: 1.4rem 0.8rem;
}

.app.collapsed .sidebar .logo.icon-only {
  display: block;
}

.app.collapsed .sidebar .nav .item {
  border-radius: var(--border-radius);
  padding: 0.8rem;
}

.app.collapsed .sidebar .nav .item.active {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.app.collapsed .sidebar .logo,
.app.collapsed .sidebar .link-txt,
.app.collapsed .sidebar .submenu-indicator,
.app.collapsed .sidebar .badge,
.app.collapsed .sidebar .logo,
.app.collapsed .sidebar .nav .item.active::before {
  display: none;
}

@media (max-width: 992px) {
  .sidebar .link-txt,
  .sidebar .submenu-indicator,
  .sidebar .badge,
  .sidebar .logo,
  .sidebar .nav .item.active::before {
    display: none;
  }

  .sidebar {
    padding: 1.4rem 0.6rem;
  }

  .sidebar .nav .item {
    border-radius: var(--border-radius);
    padding: 0.8rem;
  }

  .sidebar .nav .item.active {
    background-color: var(--color-accent);
    color: var(--color-white);
  }

  .sidebar .logo.icon-only {
    display: block;
    padding: 0;
  }
}
