.sidebar {
  --sidebar-padding-y: 1rem;
  --sidebar-padding-x: 0;
  border-right: 1px solid var(--color-border);
  height: 100vh;
  padding: var(--sidebar-padding-y) var(--sidebar-padding-x);
}

.sidebar .app-logo {
  --sidebar-padding-x: 1.7rem;
  max-width: 10rem;
  padding: 0 var(--sidebar-padding-x);
  margin: 0 auto 1rem;
}

.sidebar .app-logo.icon-only {
  max-width: 1.6rem;
  margin: 0 auto 1rem;
  padding: 0;
  display: none;
}

.sidebar .nav .item {
  display: flex;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 1rem;
  color: var(--color-body-dark);
  transition: color, background-color 0.2s;
  position: relative;
}

.sidebar .nav .item .link-txt {
  margin-right: auto;
  color: var(--color-heading);
}

.sidebar .nav .item:hover {
  color: var(--color-heading);
  background-color: var(--color-bg);
}

.sidebar .nav .item.active {
  background-color: var(--color-bg);
  color: var(--color-heading);
}

.sidebar .nav .item.active::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  width: 4px;
  background-color: var(--color-primary);
  border-radius: 0px 6px 6px 0;
}

.app.collapsed .sidebar {
  --sidebar-padding-x: 0.6rem;
}

.app.collapsed .sidebar .app-logo.icon-only {
  display: block;
}

.app.collapsed .sidebar .nav .item {
  border-radius: var(--border-radius);
  padding: 1rem;
}

.app.collapsed .sidebar .nav .item.active {
  background-color: var(--color-primary);
  color: #fff;
}

.app.collapsed .sidebar .app-logo,
.app.collapsed .sidebar .link-txt,
.app.collapsed .sidebar .submenu-indicator,
.app.collapsed .sidebar .badge,
.app.collapsed .sidebar .nav .item.active::before {
  display: none;
}

@media (max-width: 992px) {
  .sidebar {
    --sidebar-padding-x: 0.6rem;
  }

  .sidebar .app-logo.icon-only {
    display: block;
  }

  .sidebar .nav .item {
    border-radius: var(--border-radius);
    padding: 1rem;
  }

  .sidebar .nav .item.active {
    background-color: var(--color-primary);
    color: #fff;
  }

  .sidebar .app-logo,
  .sidebar .link-txt,
  .sidebar .submenu-indicator,
  .sidebar .badge,
  .sidebar .nav .item.active::before {
    display: none;
  }
}
