.sidebar {
  border-right: 1px solid var(--color-border);
  min-height: 100vh;
}

.sidebar .logo {
  max-width: 10rem;
  padding: 1rem 1.7rem 0.5rem;
}

.sidebar .logo.icon-only {
  margin: 0 auto;
  max-width: 1.7rem;
  padding: 1rem 0;
  display: none;
}

.sidebar .nav .item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem 1.7rem;
  color: var(--color-body-dark);
  transition: background-color 0.2s, color 0.2s;
  gap: 1rem;
}

.sidebar .nav .icon {
  font-size: 1.3rem;
}

.sidebar .nav .item:hover {
  background-color: var(--color-bg);
  color: var(--color-heading);
}

.sidebar .nav .item .additional-menu {
  font-size: 1.2rem;
  margin: 0 0 0 auto;
  color: var(--color-body-light);
}

.sidebar .nav .item .badge {
  margin: 0 0 0 auto;
}

.sidebar .nav .item.active {
  background-color: var(--color-bg);
  color: var(--color-heading);
}

.sidebar .nav .item.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  height: 100%;
  border-left: 7px solid var(--color-accent);
  border-radius: var(--border-radius-sm);
}

@media (max-width: 992px) {
  .sidebar .link-txt,
  .sidebar .additional-menu,
  .sidebar .badge,
  .sidebar .logo,
  .sidebar .nav .item.active::before {
    display: none;
  }

  .sidebar {
    padding: 0rem 0.6rem;
  }

  .sidebar .nav .item {
    border-radius: var(--border-radius);
    padding: 0.8rem;
  }

  .sidebar .nav .item:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
  }

  .sidebar .nav .item.active {
    background-color: var(--color-accent);
    color: var(--color-white);
  }

  .sidebar .logo.icon-only {
    display: block;
  }
}
