.stats-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.stats-item .title {
  color: var(--color-body-light);
  display: block;
  width: 99%;
}

.stats-item .subtitle {
  color: var(--color-heading);
  width: 99%;
}
