.tasklist-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-heading);
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.125rem 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  transition: background-color var(--transition-duration);
}

.tasklist-item .text {
  margin-right: auto;
}

.tasklist-item .icon {
  color: var(--color-border);
}

.tasklist-item .checked-state {
  color: var(--color-primary);
}

.tasklist-item.completed .task-name {
  text-decoration: line-through;
}

.tasklist-item .actions {
  display: flex;
  align-items: center;
  margin-right: -0.8rem;
  opacity: 0;
  transition: opacity var(--transition-duration);
}

.tasklist-item.add-tasklist-item {
  margin-left: auto;
}

.tasklist-item:hover,
.tasklist-item:focus,
.tasklist-item:focus-within {
  background-color: var(--color-bg);
}

.tasklist-item:hover .actions,
.tasklist-item:focus .actions,
.tasklist-item:focus-within .actions {
  opacity: 1;
}
