.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user:hover {
  background-color: transparent;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: contain;
}

.avatar.small {
  width: 2rem;
  height: 2rem;
}
