.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user:hover {
  background-color: transparent;
}

.user .icon {
  margin-left: -0.5rem;
}

.user .avatar {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}
