.user-comment {
  display: flex;
  gap: 1rem;
}

.user-comment .title {
  color: var(--color-heading);
  margin-bottom: 0.5rem;
  display: inline-block;
}

.user-comment .time {
  color: var(--color-body-light);
  margin-left: 0.5rem;
}

.user-comment .comment {
  margin-bottom: 0.5rem;
}
