.board {
  background-color: var(--color-bg);
  overflow: hidden;
}

.board .page-view-toggles {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.board .tabs .actions .page-view-toggles > .active {
  color: var(--color-primary);
}

.board .projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1.5rem;
}

.board .projects .project-list-item .dropdown {
  top: 4.5rem;
  right: 1.2rem;
}

/* ----breakpoint-sm---- */
@media (max-width: 786px) {
  .board .page-header .heading {
    font-size: 1.6rem;
  }
}
