.projects-details {
  display: grid;
  grid-template-columns: 300px 1fr 250px;
}

/* Breakpoint-xl */
@media (max-width: 1200px) {
  .projects-details {
    grid-template-columns: 1fr 250px;
  }
  .projects-details .projects-list {
    display: none;
  }
}

@media (max-width: 768px) {
  .projects-details {
    grid-template-columns: 1fr;
  }
}
