@use "../variables";
@use "../colors";

$app-header-height: 66px;

.app-header {
  @include variables.flex(0.5rem);
  padding: 0.7rem map-get(variables.$container-padding, "sm");
  border-bottom: 1px solid colors.$border;
  background-color: #fff;
  color: colors.$heading;
  height: $app-header-height;

  position: sticky;
  top: 0;
  z-index: 1;

  .app-sidebar-toggle {
    margin-right: auto;
  }

  .user-profile-dropdown {
    @include variables.flex(0);
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 1rem;

    .text-info .title {
      width: max-content;
    }
  }

  .notification .dot {
    width: 7px;
    height: 7px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: colors.$danger;
    position: absolute;
    top: 9px;
    right: 10px;
  }

  /* ----breakpoint-sm---- */
  @media (max-width: map-get(variables.$breakpoints, "sm")) {
    .btn.notification,
    .mini-profile .avatar {
      display: none;
    }
  }
}
