@use "../variables";

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid map-get(variables.$colors, "border");
  object-fit: cover;
  border-radius: map-get(variables.$radius, "lg");

  &.large {
    width: 3rem;
    height: 3rem;
  }

  &.round {
    border-radius: 50%;
  }

  &.small {
    width: 2rem;
    height: 2rem;
  }
}
