@use "../variables";

$badge-padding-y: (
  "sm": 0.3rem,
  "lg": 1rem,
);

$badge-padding-x: (
  "sm": 0.5rem,
  "lg": 0.7rem,
  "xl": 1rem,
);

.badge {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  white-space: nowrap;
  background-color: map-get(variables.$colors, "bg-light");
  color: map-get(variables.$colors, "heading");
  padding: map-get($badge-padding-y, "sm") map-get($badge-padding-x, "lg");
  border-radius: map-get(variables.$radius, "xs");

  &.small {
    padding: 0.5px 5px;
    font-size: 0.7rem;
  }

  &.large {
    padding: map-get($badge-padding-y, "lg") map-get($badge-padding-x, "xl");
    border-radius: map-get(variables.$radius, "lg");

    .icon {
      font-size: 1.3rem;
    }
  }

  .icon {
    font-size: 1.1rem;
  }

  &.primary {
    background-color: map-get(variables.$colors, "primary");
    color: #fff;
  }

  &.warning {
    background-color: map-get(variables.$colors, "warning");
    color: #fff;
  }

  &.danger {
    background-color: map-get(variables.$colors, "danger");
    color: #fff;
  }

  &.success {
    background-color: map-get(variables.$colors, "success");
    color: #fff;
  }

  &.light {
    &.primary {
      background-color: map-get(variables.$colors, "primary-light");
      color: map-get(variables.$colors, "primary");
    }

    &.warning {
      background-color: map-get(variables.$colors, "warning-light");
      color: map-get(variables.$colors, "warning");
    }

    &.danger {
      background-color: map-get(variables.$colors, "danger-light");
      color: map-get(variables.$colors, "danger");
    }

    &.success {
      background-color: map-get(variables.$colors, "success-light");
      color: map-get(variables.$colors, "success");
    }
  }
}
