@use "../variables";

.badge {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  white-space: nowrap;
  background-color: map-get(variables.$colors, "bg-light");
  color: map-get(variables.$colors, "heading");
  padding: map-get(variables.$badge-padding-y, "sm")
    map-get(variables.$badge-padding-x, "lg");
  border-radius: map-get(variables.$radius, "xs");
}

.badge.small {
  padding: 0.5px 5px;
  font-size: 0.7rem;
}

.badge.large {
  padding: map-get(variables.$badge-padding-y, "lg")
    map-get(variables.$badge-padding-x, "xl");
  border-radius: map-get(variables.$radius, "lg");
}

.badge .icon {
  font-size: 1.1rem;
}

.badge.large .icon {
  font-size: 1.3rem;
}

.badge.primary {
  background-color: map-get(variables.$colors, "primary");
  color: #fff;
}

.badge.warning {
  background-color: map-get(variables.$colors, "warning");
  color: #fff;
}

.badge.danger {
  background-color: map-get(variables.$colors, "danger");
  color: #fff;
}

.badge.success {
  background-color: map-get(variables.$colors, "success");
  color: #fff;
}

.badge.light.primary {
  background-color: map-get(variables.$colors, "primary-light");
  color: map-get(variables.$colors, "primary");
}

.badge.light.warning {
  background-color: map-get(variables.$colors, "warning-light");
  color: map-get(variables.$colors, "warning");
}

.badge.light.danger {
  background-color: map-get(variables.$colors, "danger-light");
  color: map-get(variables.$colors, "danger");
}

.badge.light.success {
  background-color: map-get(variables.$colors, "success-light");
  color: map-get(variables.$colors, "success");
}
