@use "../colors" as *;

.badge {
  --badge-padding-y: 0.3rem;
  --badge-padding-x: 0.7rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  white-space: nowrap;
  background-color: $color-bg-light;
  color: $color-heading;
  padding: var(--badge-padding-y) var(--badge-padding-x);
  border-radius: var(--border-radius-xs);
}

.badge.small {
  padding: 0.5px 5px;
  font-size: 0.7rem;
}

.badge.large {
  --badge-padding-y: 1rem;
  --badge-padding-x: 1rem;
  border-radius: var(--border-radius);
}

.badge .icon {
  font-size: 1.1rem;
}

.badge.large .icon {
  font-size: 1.3rem;
}

.badge.primary {
  background-color: $color-primary;
  color: #fff;
}

.badge.warning {
  background-color: $color-warning;
  color: #fff;
}

.badge.danger {
  background-color: $color-danger;
  color: #fff;
}

.badge.success {
  background-color: $color-success;
  color: #fff;
}

.badge.light.primary {
  background-color: $color-primary-light;
  color: $color-primary;
}

.badge.light.warning {
  background-color: $color-warning-light;
  color: $color-warning;
}

.badge.light.danger {
  background-color: $color-danger-light;
  color: $color-danger;
}

.badge.light.success {
  background-color: $color-success-light;
  color: $color-success;
}
