@use "../colors";
@use "../form-controls";
@use "../fx";

$button-padding-x: 0.9rem;
$button-padding-y: 0.4rem;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  flex-shrink: 0;
  color: map-get(colors.$color, "body-light");
  padding: $button-padding-y $button-padding-x;
  background-color: transparent;
  border: 3px solid transparent;
  height: form-controls.$height;
  position: relative;
  outline: none;
  border-radius: map-get(fx.$radius, "radius");
  transition: background-color fx.$transition-duration,
    color fx.$transition-duration, box-shadow fx.$transition-duration;
}

.btn:hover,
.btn:focus {
  background-color: map-get(colors.$color, "bg-light");
}

.btn:focus {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.btn.small {
  $button-padding-y: 0.4rem;
  $button-padding-x: 0.75rem;
  padding: $button-padding-y $button-padding-x;
  height: form-controls.$height-sm;
  font-size: 0.875rem;
  border-radius: map-get(fx.$radius, "sm");
}

.btn.large {
  $button-padding-x: 1.3rem;
  $button-padding-y: 0.56rem;
  padding: $button-padding-x $button-padding-y;
  height: form-controls.$height-lg;
}

.btn.small .icon {
  font-size: 1rem;
}

.btn.icon-only {
  width: form-controls.$height;
}

.btn.primary {
  background-color: map-get(colors.$color, "primary");
  color: #fff;
  border-bottom-color: map-get(colors.$color, "primary-dark");
}

.btn.primary:hover,
.btn.primary:focus {
  background-color: map-get(colors.$color, "primary-hover");
}

.btn.primary:focus {
  box-shadow: 0px 0px 0px 3px rgba(48, 79, 253, 0.3);
}

.btn.primary:active {
  background-color: map-get(colors.$color, "primary-dark");
}

.btn.warning {
  background-color: map-get(colors.$color, "warning");
  color: #fff;
  border-bottom-color: map-get(colors.$color, "warning-dark");
}

.btn.warning:hover,
.btn.warning:focus {
  background-color: map-get(colors.$color, "warning-hover");
}

.btn.warning:focus {
  box-shadow: 0px 0px 0px 3px rgba(229, 110, 25, 0.3);
}

.btn.warning:active {
  background-color: map-get(colors.$color, "warning-dark");
}

.btn.danger {
  background-color: map-get(colors.$color, "danger");
  color: #fff;
  border-bottom-color: map-get(colors.$color, "danger-dark");
}

.btn.danger:hover,
.btn.danger:focus {
  background-color: map-get(colors.$color, "danger-hover");
}

.btn.danger:focus {
  box-shadow: 0px 0px 0px 3px rgba(253, 121, 114, 0.3);
}

.btn.danger:active {
  background-color: map-get(colors.$color, "danger-dark");
}

.btn.success {
  background-color: map-get(colors.$color, "success");
  color: #fff;
  border-bottom-color: map-get(colors.$color, "success-dark");
}

.btn.success:hover,
.btn.success:focus {
  background-color: map-get(colors.$color, "success-hover");
}

.btn.success:focus {
  box-shadow: 0px 0px 0px 3px rgba(73, 201, 109, 0.3);
}

.btn.success:active {
  background-color: map-get(colors.$color, "success-dark");
}

.btn.light {
  background-color: #fff;
  border-bottom-color: transparent;
}

.btn.light:hover {
  background-color: map-get(colors.$color, "bg-light");
}

.btn.light.primary {
  background-color: map-get(colors.$color, "primary-light");
  color: map-get(colors.$color, "primary");
}

.btn.light.primary:hover,
.btn.light.primary:focus {
  background-color: map-get(colors.$color, "primary");
  color: #fff;
}

.btn.light.primary:focus {
  box-shadow: 0px 0px 0px 3px rgba(48, 79, 253, 0.3);
}

.btn.light.primary:active {
  background-color: map-get(colors.$color, "primary-dark");
}

.btn.light.warning {
  background-color: map-get(colors.$color, "warning-light");
  color: map-get(colors.$color, "warning");
}

.btn.light.warning:hover,
.btn.light.warning:focus {
  background-color: map-get(colors.$color, "warning");
  color: #fff;
}

.btn.light.warning:focus {
  box-shadow: 0px 0px 0px 3px rgba(229, 110, 25, 0.3);
}

.btn.light.warning:active {
  background-color: map-get(colors.$color, "warning-dark");
}

.btn.light.danger {
  background-color: map-get(colors.$color, "danger-light");
  color: map-get(colors.$color, "danger");
}

.btn.light.danger:hover,
.btn.light.danger:focus {
  background-color: map-get(colors.$color, "danger");
  color: #fff;
}

.btn.light.danger:focus {
  box-shadow: 0px 0px 0px 3px rgba(253, 121, 114, 0.3);
}

.btn.light.danger:active {
  background-color: map-get(colors.$color, "danger-dark");
}

.btn.light.success {
  background-color: map-get(colors.$color, "success-light");
  color: map-get(colors.$color, "success");
}

.btn.light.success:hover,
.btn.light.success:focus {
  background-color: map-get(colors.$color, "success");
  color: #fff;
}

.btn.light.success:focus {
  box-shadow: 0px 0px 0px 3px rgba(73, 201, 109, 0.3);
}

.btn.light.success:active {
  background-color: map-get(colors.$color, "success-dark");
}

.btn.link {
  background-color: transparent;
  border-bottom-color: transparent;
}

.btn.link.primary {
  color: map-get(colors.$color, "primary");
}

.btn.link.primary:hover,
.btn.link.primary:focus,
.btn.link.primary:active {
  background-color: map-get(colors.$color, "primary-light");
}

.btn.link.warning {
  color: map-get(colors.$color, "warning");
}

.btn.link.warning:hover,
.btn.link.warning:focus,
.btn.link.warning:active {
  background-color: map-get(colors.$color, "warning-light");
}

.btn.link.danger {
  color: map-get(colors.$color, "danger");
}

.btn.link.danger:hover,
.btn.link.danger:focus,
.btn.link.danger:active {
  background-color: map-get(colors.$color, "danger-light");
}

.btn.link.success {
  color: map-get(colors.$color, "success");
}

.btn.link.success:hover,
.btn.link.success:focus,
.btn.link.success:active {
  background-color: map-get(colors.$color, "success-light");
}

.btn:disabled,
.btn.disabled {
  opacity: 0.5;
  pointer-events: none;
  border-bottom-color: transparent;
}

[role="button"] {
  transition: box-shadow fx.$transition-duration;
}

[role="button"]:focus {
  box-shadow: 0px 0px 0px 3px rgba(48, 79, 253, 0.3);
  outline: none;
}
