@use "../variables";
@use "../colors";

.comments {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .comment {
    display: flex;
    gap: 1rem;

    .text-info .header {
      @include variables.flex(1rem);
      // display: flex;
      // gap: 1rem;
      // align-items: center;
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 0.5rem;
    }

    .author {
      color: colors.$heading;
      display: inline-block;
    }

    .time {
      color: colors.$body-light;
    }
  }

  .comment-field {
    border: 1px solid colors.$border;
    border-radius: map-get(variables.$radius, "lg");
    padding: 0.55rem;
    transition: border-color variables.$transition-duration;

    &:focus-within {
      border-color: colors.$primary;
    }

    textarea {
      border: none;
      resize: none;
      padding: 0 0.4rem;
    }

    .actions {
      display: flex;

      .submit {
        margin-right: auto;
      }
    }
  }

  .attachments {
    @include variables.flex(1rem);
  }
}
