@use "../colors";
@use "../fx";

.dialog,
.dialog .content {
  flex-direction: column;
}

$dialog-padding: 2rem;

.dialog {
  position: fixed;
  z-index: 100;
  background: #fff;
  border-radius: map-get(fx.$radius, "xl");
  box-shadow: -4px 8px 24px 0px map-get(colors.$color, "shadow");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36rem;
  max-width: 85vw;
  max-height: 85vh;
  display: none;
}

.dialog.active,
.dialog .content,
.dialog .header,
.dialog .actions {
  display: flex;
}

.dialog .content,
.dialog .header,
.dialog .actions {
  padding: $dialog-padding;
}

.dialog .content {
  gap: 2rem;
  overflow-y: auto;
}

.dialog.small {
  width: 25rem;
}

.dialog.large {
  width: 100%;
}

.dialog .header,
.dialog .actions {
  gap: 1rem;
}

.dialog .header {
  justify-content: space-between;
}

.dialog .actions {
  justify-content: end;
  border-top: 1px solid map-get(colors.$color, "border");
}
