@use "../variables";
@use "../colors";

.divider {
  width: 1px;
  background-color: colors.$border;

  &.small {
    height: 1.2rem;
  }

  &.large {
    height: 2rem;
  }

  &.horizontal {
    border-top: 1px solid colors.$border;
    border-bottom: transparent;
    width: 100%;
    margin: 0.5rem 0;
  }
}
