@use "../variables";

.divider {
  width: 1px;
  background-color: map-get(variables.$colors, "border");

  &.tall {
    height: 2rem;
  }

  &.small {
    height: 1.2rem;
  }

  &.horizontal {
    border-top: 1px solid map-get(variables.$colors, "border");
    border-bottom: transparent;
    width: 100%;
    margin: 0.5rem 0;
  }
}
