@use "../colors";

.divider {
  width: 1px;
  background-color: map-get(colors.$color, "border");
}

.divider.tall {
  height: 2rem;
}

.divider.small {
  height: 1.2rem;
}

.divider.horizontal {
  border-top: 1px solid map-get(colors.$color, "border");
  border-bottom: transparent;
  width: 100%;
  margin: 0.5rem 0;
}
