@use "../colors";
@use "../breakpoints";

.drawer {
  display: none;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-top: 1px solid map-get(colors.$color, "border");
  width: 24rem;
  height: 100%;
  box-shadow: -4px 20px 24px 0px map-get(colors.$color, "shadow");
  position: fixed;
  top: 4rem;
  right: 0;
}

.drawer.active,
.drawer .header,
.drawer .actions {
  display: flex;
}

.drawer .header,
.drawer .actions {
  align-items: center;
}

.drawer .header {
  justify-content: space-between;
}

.drawer .actions {
  gap: 0.5rem;
}

/*  breakpoint-xs */
@media (max-width: map-get(breakpoints.$breakpoints, "xs")) {
  .drawer {
    width: 100%;
  }
}
