@use "../variables";

.drawer {
  display: none;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-top: 1px solid map-get(variables.$colors, "border");
  width: 24rem;
  height: 100%;
  box-shadow: -4px 20px 24px 0px map-get(variables.$colors, "shadow");
  position: fixed;
  top: 4rem;
  right: 0;

  &.active {
    display: flex;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  @media (max-width: map-get(variables.$breakpoints, "xs")) {
    width: 100%;
  }
}
