@use "../variables";
@use "../colors";

.drawer {
  display: none;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-top: 1px solid colors.$border;
  width: 24rem;
  height: 100%;
  box-shadow: -4px 20px 24px 0px colors.$shadow;
  position: fixed;
  top: 4rem;
  right: 0;

  &.active {
    display: flex;
  }

  .header {
    @include variables.flex(0);
    justify-content: space-between;
  }

  .actions {
    @include variables.flex(0.5rem);
  }

  @media (max-width: map-get(variables.$breakpoints, "xs")) {
    width: 100%;
  }
}
