@use "../colors";
@use "../fx";

.dropdown {
  background: #fff;
  padding: 0.5rem 0;
  min-width: 10rem;
  max-width: 13rem;
  border-radius: fx.$radius;
  box-shadow: 0px 20px 50px 0px map-get(colors.$color, "shadow");
  position: absolute;
  display: none;
}

.dropdown.active {
  display: block;
}

.dropdown .menu .item {
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  color: map-get(colors.$color, "body");
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.6rem 2rem;
  transition: color fx.$transition-duration,
    background-color fx.$transition-duration;
}

.dropdown .item .icon {
  color: map-get(colors.$color, "body-light");
}

.dropdown .item:hover {
  background-color: map-get(colors.$color, " bg");
}

.dropdown .item.danger,
.dropdown .item.danger .icon {
  color: map-get(colors.$color, "danger");
}

.dropdown .item.danger:hover {
  background-color: map-get(colors.$color, "danger-light");
}
