@use "../variables";
@use "../colors";

.dropdown {
  background: #fff;
  padding: 0.5rem 0;
  min-width: 10rem;
  max-width: 13rem;
  border-radius: map-get(variables.$radius, "lg");
  box-shadow: 0px 20px 50px 0px colors.$shadow;
  position: absolute;
  display: none;

  &.active {
    display: block;
  }

  .item {
    background-color: transparent;
    border: none;
    width: 100%;
    cursor: pointer;
    color: colors.$body;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.6rem 2rem;
    transition: color variables.$transition-duration,
      background-color variables.$transition-duration;

    &:hover {
      background-color: colors.$bg;
    }

    .icon {
      color: colors.$body-light;
    }

    &.danger {
      color: colors.$danger;

      &:hover {
        background-color: colors.$danger-light;
      }

      .icon {
        color: colors.$danger;
      }
    }
  }
}
