@use "../variables";
@use "../colors";

.file {
  @include variables.flex(1rem);
  min-width: 0;

  .text-info {
    width: 100%;
    overflow: hidden;
  }

  .icon {
    width: 2.3rem;
    object-fit: cover;
  }

  .name {
    display: block;
    color: colors.$heading;
    line-height: 1.7;
  }

  .size {
    color: colors.$body-light;
    text-transform: uppercase;
  }
}
