@use "../variables";

.file {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 0;

  .text-info {
    width: 100%;
    overflow: hidden;
  }

  .icon {
    width: 2.3rem;
    object-fit: cover;
  }

  .name {
    display: block;
    color: map-get(variables.$colors, "heading");
    line-height: 1.7;
  }

  .size {
    color: map-get(variables.$colors, "body-light");
    text-transform: uppercase;
  }
}
