@use "../colors";
@use "../fx";

.image-uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  min-height: 6rem;
  border: 1px dashed map-get(colors.$color, "body-light");
  padding: 0.5rem;
  border-radius: map-get(fx.$radius, "xl");
  align-self: center;
  cursor: pointer;
  position: relative;
}

.image-uploader input[type="file"] {
  display: none;
}

.image-uploader .icon {
  font-size: 2rem;
  font-weight: bold;
  color: map-get(colors.$color, "body-light");
}

.image-uploader .image {
  border: 1px solid map-get(colors.$color, "grey");
  border-radius: map-get(fx.$radius, "radius");
  max-width: 99%;
}

.image-uploader .edit-btn {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid map-get(colors.$color, "grey");
  background: #fff;
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
}

.image-uploader .edit-btn .icon {
  font-size: 1.5rem;
  color: map-get(colors.$color, "heading");
}
