.mini-profile {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  overflow: hidden;
  width: 100%;
}

.mini-profile .text-info {
  width: 100%;
  overflow: hidden;
  color: var(--color-heading);
}

.mini-profile .title,
.mini-profile .subtitle {
  display: block;
  font-weight: 400;
  width: 99%;
}

.mini-profile .title {
  line-height: 1.4;
}

.mini-profile .subtitle {
  color: var(--color-body);
}

.mini-profile .avatar.large {
  margin-right: 0.3rem;
}
