@use "../variables";

.mini-profile {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  overflow: hidden;
  width: 100%;

  .text-info {
    width: 100%;
    overflow: hidden;
    color: map-get(variables.$colors, "heading");
  }

  .title,
  .subtitle {
    display: block;
    font-weight: 400;
    width: 99%;
  }

  .title {
    line-height: 1.4;
  }

  .subtitle {
    color: map-get(variables.$colors, "body");
  }

  .avatar.large {
    margin-right: 0.3rem;
  }
}
