@use "../variables";
@use "../colors";
@use "../_mixins/media";

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .displayable-quantity {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .pages {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    .item {
      min-width: 2.55rem;
    }
  }

  .summary {
    color: colors.$body-light;
  }

  @include media.respondto(tablet) {
    flex-direction: column;
  }
}
