@use "../variables";

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  @media (max-width: map-get(variables.$breakpoints, "sm")) {
    flex-direction: column;
  }
}
