@use "../breakpoints";

.page-header,
.page-header .actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.page-header {
  justify-content: space-between;
}

/* --breakpoint-sm-- */
@media (max-width: map-get(breakpoints.$breakpoints, "sm")) {
  .page-header {
    flex-direction: column;
  }
}
