@use "../colors";
@use "../breakpoints";

.pagination,
.pagination .displayable-quantity,
.pagination .pages {
  display: flex;
  align-items: center;
}

.pagination,
.pagination .displayable-quantity {
  gap: 1rem;
}

.pagination {
  justify-content: space-between;
}

.pagination .summary {
  color: colors.$body-light;
}

.pagination .pages {
  gap: 0.2rem;
}

.pagination .pages .item {
  min-width: 2.55rem;
}

// breakpoint sm
@media (max-width: map-get(breakpoints.$breakpoints, "sm")) {
  .pagination {
    flex-direction: column;
  }
}
