@use "../form-controls";
@use "../fx";

.project-list-item,
.project-list-item .footer,
.project-list-item .header,
.project-list-item .progress-header {
  display: flex;
}

.project-list-item {
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: map-get(fx.$radius, "radius");
  position: relative;
}

.project-list-item .header,
.project-list-item .progress-header {
  align-items: center;
  justify-content: space-between;
}

.project-list-item .header .actions {
  margin-right: form-controls.$padding-x * -1;
}

.project-list-item .mini-profile .title {
  font-size: 1.125rem;
}

.project-list-item .description {
  margin-bottom: auto;
}

.project-list-item .progress-header {
  margin-bottom: 0.4rem;
}

.project-list-item .footer {
  align-items: flex-end;
  gap: 0.5rem;
}

.project-list-item .footer .badge {
  margin-right: auto;
}
