@use "../colors";
@use "../fx";

.progress-bar {
  width: 100%;
  height: 0.4rem;
  background-color: map-get(colors.$color, "bg");
  border-radius: map-get(fx.$radius, "radius");
}

.progress-bar .progress {
  background-color: map-get(colors.$color, "body-light");
  height: 100%;
  border-radius: map-get(fx.$radius, "radius");
}

.progress-bar.success .progress {
  background-color: map-get(colors.$color, "success");
}

.progress-bar.warning .progress {
  background-color: map-get(colors.$color, "warning");
}

.progress-bar.danger .progress {
  background-color: map-get(colors.$color, "danger");
}

.progress-bar.primary .progress {
  background-color: map-get(colors.$color, "primary");
}
