@use "../variables";

.project-list-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: map-get(variables.$radius, "lg");
  position: relative;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .actions {
      margin-right: -(map-get(variables.$form-controls-padding-x, "sm"));
    }
  }

  .mini-profile .title {
    font-size: 1.125rem;
  }

  .description {
    margin-bottom: auto;
  }

  .progress-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4rem;
  }

  .footer {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;

    .badge {
      margin-right: auto;
    }
  }
}
