@use "../variables";
@use "../colors";
@use "sass:meta";

.progress-bar {
  width: 100%;
  height: 0.4rem;
  background-color: colors.$bg;
  border-radius: map-get(variables.$radius, lg);

  .progress {
    background-color: colors.$body-light;
    height: 100%;
    border-radius: map-get(variables.$radius, lg);
  }

  @mixin colors($args...) {
    @each $name, $color in meta.keywords($args) {
      &.#{$name} .progress {
        background-color: $color;
      }
    }
  }

  @include colors(
    $primary: colors.$primary,
    $warning: colors.$warning,
    $danger: colors.$danger,
    $success: colors.$success
  );
}
