.related-projects-list-item {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  flex-direction: column;

  .footer {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;

    .users {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }

  .more-users {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }

  &.active {
    background-color: #fff;
  }
}
