@use "../variables";

.related-projects-list-item {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  flex-direction: column;

  .footer {
    @include variables.flex(1rem);
    justify-content: space-between;
    padding-left: 4rem;

    .users {
      @include variables.flex(0.3rem);
    }
  }

  .more-users {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }

  &.active {
    background-color: #fff;
  }
}
