@use "../colors";
@use "../fx";
@use "../breakpoints";

$sidebar-padding-y: 1rem;
$sidebar-padding-x: 0;

.app > .sidebar {
  border-right: 1px solid colors.$border;
  min-height: 100vh;
  padding: $sidebar-padding-y $sidebar-padding-x;
  position: sticky;
  top: 0px;
  align-self: start;
}

.app > .sidebar .logo {
  $sidebar-padding-x: 1.7rem;
  max-width: 10rem;
  padding: 0 $sidebar-padding-x;
  margin: 0 auto 1rem;
}

.app > .sidebar .logo.icon-only {
  max-width: 1.6rem;
  margin: 0 auto 1rem;
  padding: 0;
  display: none;
}

.app > .sidebar .nav .item {
  $sidebar-padding-x: 1.7rem;
  padding: $sidebar-padding-y $sidebar-padding-x;
  display: flex;
  align-items: center;
  position: relative;
  color: colors.$body-light;
  transition: background-color fx.$transition-duration,
    color fx.$transition-duration;
  gap: 1rem;
}

.app > .sidebar .nav .item.active::before {
  content: "";
  position: absolute;
  background-color: colors.$primary;
  width: 4px;
  left: 0px;
  height: 100%;
  border-radius: 0px 6px 6px 0px;
}

.app > .sidebar .nav .item:hover,
.app > .sidebar .nav .item.active {
  background-color: colors.$bg;
}

.app > .sidebar .nav .item.active {
  background-color: colors.$bg;
}

.app > .sidebar .nav .item .link-txt {
  margin-right: auto;
  color: colors.$heading;
}

.app > .sidebar .nav .item .submenu-indicator {
  font-size: 1.2rem;
}

.app.collapsed > .sidebar {
  $sidebar-padding-x: 0.6rem;
  padding-left: $sidebar-padding-x;
  padding-right: $sidebar-padding-x;
}

.app.collapsed > .sidebar .logo.icon-only {
  display: block;
}

.app.collapsed > .sidebar .nav .item {
  border-radius: fx.$radius;
  padding: 0.8rem;
}

.app.collapsed > .sidebar .nav .item.active {
  background-color: colors.$primary;
  color: #fff;
}

.app.collapsed > .sidebar .logo,
.app.collapsed > .sidebar .link-txt,
.app.collapsed > .sidebar .submenu-indicator,
.app.collapsed > .sidebar .badge,
.app.collapsed > .sidebar .nav .item.active::before {
  display: none;
}

// breakpoint lg
@media (max-width: map-get(breakpoints.$breakpoints, "lg")) {
  .app > .sidebar {
    $sidebar-padding-x: 0.6rem;
    padding-left: $sidebar-padding-x;
    padding-right: $sidebar-padding-x;
  }

  .app > .sidebar .logo.icon-only {
    display: block;
  }

  .app > .sidebar .nav .item {
    border-radius: fx.$radius;
    padding: 0.8rem;
  }

  .app > .sidebar .nav .item.active {
    background-color: colors.$primary;
    color: #fff;
  }

  .app > .sidebar .logo,
  .app > .sidebar .link-txt,
  .app > .sidebar .submenu-indicator,
  .app > .sidebar .badge,
  .app > .sidebar .nav .item.active::before {
    display: none;
  }
}
