@use "../variables";
@use "../colors";
@use "../_mixins/media";

$sidebar-padding-x: (
  sm: 0.6rem,
  lg: 1.7rem,
);

.app {
  > .sidebar {
    border-right: 1px solid colors.$border;
    min-height: 100vh;
    padding: 1rem 0;
    position: sticky;
    top: 0px;
    align-self: start;

    .logo {
      max-width: 10rem;
      padding: 0 map-get($sidebar-padding-x, lg);
      margin: 0 auto 1rem;

      &.icon-only {
        max-width: 1.6rem;
        margin: 0 auto 1rem;
        padding: 0;
        display: none;
      }
    }

    .nav .item {
      padding: 1rem map-get($sidebar-padding-x, lg);
      display: flex;
      align-items: center;
      position: relative;
      color: colors.$body-light;
      transition: background-color variables.$transition-duration,
        color variables.$transition-duration;
      gap: 1rem;

      &:hover {
        background-color: colors.$bg;
      }

      &.active {
        background-color: colors.$bg;

        &::before {
          content: "";
          position: absolute;
          background-color: colors.$primary;
          width: 4px;
          left: 0px;
          height: 100%;
          border-radius: 0px 6px 6px 0px;
        }
      }

      .link-txt {
        margin-right: auto;
        color: colors.$heading;
      }

      .submenu-indicator {
        font-size: 1.2rem;
      }
    }

    @include media.respondto(tablet-landscape) {
      padding-left: map-get($sidebar-padding-x, sm);
      padding-right: map-get($sidebar-padding-x, sm);

      .logo.icon-only {
        display: block;
      }

      .nav .item {
        border-radius: map-get(variables.$radius, lg);
        padding: 0.8rem;

        &.active {
          background-color: colors.$primary;
          color: #fff;
        }
      }

      .logo,
      .link-txt,
      .submenu-indicator,
      .badge,
      .nav .item.active::before {
        display: none;
      }
    }
  }

  &.collapsed {
    > .sidebar {
      padding-left: map-get($sidebar-padding-x, sm);
      padding-right: map-get($sidebar-padding-x, sm);

      .logo.icon-only {
        display: block;
      }

      .nav .item {
        border-radius: map-get(variables.$radius, lg);
        padding: 0.8rem;

        &.active {
          background-color: colors.$primary;
          color: #fff;
        }
      }

      .logo,
      .link-txt,
      .submenu-indicator,
      .badge,
      .nav .item.active::before {
        display: none;
      }
    }
  }
}
