@use "../variables";

.stats {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  .item {
    display: flex;
    align-items: center;
    gap: 1rem;

    .title {
      color: map-get(variables.$colors, "body-light");
      display: block;
      width: 99%;
    }

    .subtitle {
      color: map-get(variables.$colors, "heading");
      width: 99%;
    }
  }
}
