@use "../variables";
@use "../colors";

.stats {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  .item {
    display: flex;
    align-items: center;
    gap: 1rem;

    .title {
      color: colors.$body-light;
      display: block;
      width: 99%;
    }

    .subtitle {
      color: colors.$heading;
      width: 99%;
    }
  }
}
