@use "../colors";

.stats,
.stats .item {
  display: flex;
  align-items: center;
}

.stats {
  gap: 2.5rem;
}

.stats .item {
  gap: 1rem;
}

.stats .item .title {
  color: colors.$body-light;
  display: block;
  width: 99%;
}

.stats .item .subtitle {
  color: colors.$heading;
  width: 99%;
}
