@use "../variables";
@use "../components/badge";
@use "../colors";

.tabs {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  border-bottom: 1px solid colors.$border;

  > * {
    flex-shrink: 0;
  }

  .badge {
    padding: 0 map-get(badge.$badge-padding-x, "sm");
    background-color: colors.$border;
    color: colors.$body-light;
    font-size: 0.8rem;
    border-radius: map-get(variables.$radius, "xs");
  }

  .actions {
    margin-left: auto;
  }

  .tab {
    padding: 1rem 0;
    color: colors.$body-light;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    transition: color variables.$transition-duration;
    border: none;
    background: transparent;

    &:hover {
      color: colors.$primary;
    }

    &.active {
      color: colors.$primary;

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: colors.$primary;
        position: absolute;
        bottom: 0;
        border-radius: 2px 2px 0 0;
      }
    }
  }
}
