@use "../variables";

@use "./badge";

.tabs {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  border-bottom: 1px solid map-get(variables.$colors, "border");
}

.tabs .badge {
  badge.$badge-padding-y: 0;
  badge.$badge-padding-x: 0.5rem;

  padding: badge.$badge-padding-y badge.$badge-padding-x;
  background-color: map-get(variables.$colors, "border");
  color: map-get(variables.$colors, "body-light");
  font-size: 0.8rem;
  border-radius: map-get(variables.$radius, "xs");
}

.tabs > * {
  flex-shrink: 0;
}

.tabs .actions {
  margin-left: auto;
}

.tabs .tab {
  padding: 1rem 0;
  color: map-get(variables.$colors, "body-light");
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  transition: color variables.$transition-duration;
  border: none;
  background: transparent;
}

.tabs .tab:hover {
  color: map-get(variables.$colors, "primary");
}

.tabs .tab.active {
  color: map-get(variables.$colors, "primary");
}

.tabs .tab.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: map-get(variables.$colors, "primary");
  position: absolute;
  bottom: 0;
  border-radius: 2px 2px 0 0;
}
