@use "../variables";
@use "../colors";

$table-side-padding: 1.5rem;

table {
  border-collapse: collapse;
  width: 100%;

  th {
    text-align: start;
    text-transform: uppercase;
    color: colors.$body-light;
    font-weight: 400;
    font-size: 0.9rem;
    border-bottom: 1px solid colors.$border;
    padding: 0.8rem 1rem;

    &:first-child {
      padding-left: $table-side-padding;
    }

    &:last-child {
      padding-right: $table-side-padding;
    }
  }

  td {
    border-bottom: 1px solid colors.$border;
    padding: 0.8rem 1rem;

    &:first-child {
      padding-left: $table-side-padding;
    }

    &:last-child {
      padding-right: $table-side-padding;
    }
  }
}
