@use "../colors";

$table-side-padding: 1.5rem;

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  text-align: start;
  text-transform: uppercase;
  color: colors.$body-light;
  font-weight: 400;
  font-size: 0.9rem;
}

table th,
table td {
  border-bottom: 1px solid colors.$border;
  padding: 0.8rem 1rem;
}

table thead th:first-child,
table tbody td:first-child {
  padding-left: $table-side-padding;
}

table thead th:last-child,
table tbody td:last-child {
  padding-right: $table-side-padding;
}
