@use "../variables";

.tasks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .task {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: map-get(variables.$colors, "heading");
    border-radius: map-get(variables.$radius, "lg");
    padding: 0.125rem 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    transition: background-color variables.$transition-duration,
      box-shadow variables.$transition-duration;

    &:hover {
      background-color: map-get(variables.$colors, "bg");

      .actions {
        opacity: 1;
      }
    }

    &:focus {
      background-color: map-get(variables.$colors, "bg");

      .actions {
        opacity: 1;
      }
    }

    &:focus-within {
      background-color: map-get(variables.$colors, "bg");

      .actions {
        opacity: 1;
      }
    }

    .actions {
      display: flex;
      margin-right: -0.8rem;
      opacity: 0;
      transition: opacity variables.$transition-duration;
    }

    .description {
      margin-right: auto;
    }

    .icon {
      color: map-get(variables.$colors, "border");
    }

    &.completed {
      .description {
        text-decoration: line-through;
      }

      .icon {
        color: map-get(variables.$colors, "primary");
      }
    }
  }
}
