@use "../variables";
@use "../colors";

.tasks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .task {
    @include variables.flex(1rem);
    color: colors.$heading;
    border-radius: map-get(variables.$radius, "lg");
    padding: 0.125rem 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    transition: background-color variables.$transition-duration,
      box-shadow variables.$transition-duration;

    &:hover {
      background-color: colors.$bg;

      .actions {
        opacity: 1;
      }
    }

    &:focus {
      background-color: colors.$bg;

      .actions {
        opacity: 1;
      }
    }

    &:focus-within {
      background-color: colors.$bg;

      .actions {
        opacity: 1;
      }
    }

    .actions {
      display: flex;
      margin-right: -0.8rem;
      opacity: 0;
      transition: opacity variables.$transition-duration;
    }

    .description {
      margin-right: auto;
    }

    .icon {
      color: colors.$border;
    }

    &.completed {
      .description {
        text-decoration: line-through;
      }

      .icon {
        color: colors.$primary;
      }
    }
  }
}
