@use "../colors";
@use "../fx";

.tasks,
.tasks .task,
.tasks .task .actions {
  display: flex;
}

.tasks {
  flex-direction: column;
  gap: 0.5rem;
}

.tasks .task {
  gap: 1rem;
  align-items: center;
  color: map-get(colors.$color, "heading");
  border-radius: map-get(fx.$radius, "radius");
  padding: 0.125rem 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  transition: background-color fx.$transition-duration,
    box-shadow fx.$transition-duration;
}

.tasks .task .description {
  margin-right: auto;
}

.tasks .task .icon {
  color: map-get(colors.$color, "border");
}

.tasks .task.completed .description {
  text-decoration: line-through;
}

.tasks .task.completed .icon {
  color: map-get(colors.$color, "primary");
}

.tasks .task .actions {
  margin-right: -0.8rem;
  opacity: 0;
  transition: opacity fx.$transition-duration;
}

.tasks .task:hover,
.tasks .task:focus,
.tasks .task:focus-within {
  background-color: map-get(colors.$color, "bg");
}

.tasks .task:hover .actions,
.tasks .task:focus .actions,
.tasks .task:focus-within .actions {
  opacity: 1;
}
