@use "./colors";
@use "./fx";
@use "./typography";

body {
  font-family: typography.$font-family;
  color: map-get(colors.$color, "body");
}

a {
  text-decoration: none;
  transition: color fx.$transition-duration;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: typography.$font-family;
  color: map-get(colors.$color, "body-light");
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: typography.$font-family;
  color: map-get(colors.$color, "heading");
}
