@use "./colors" as *;

body {
  font-family: var(--font-family);
  color: $color-body;
}

a {
  text-decoration: none;
  transition: color var(--transition-duration);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: var(--font-family);
  color: $color-body-light;
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: var(--font-family);
  color: $color-heading;
}
