$heading: #3f434a;
$shadow: #a4a5a566;
$body: #595f69;
$body-light: lighten($body, 10%);
$grey: #c6c9cc;
$grey-light: lighten($grey, 10%);
$border: #e8e9eb;
$bg: #f8f8f8;
$bg-dark: darken($bg, 5%);
$primary: #304ffd;
$primary-hover: transparentize($primary, 0.2%);
$primary-light: lighten($primary, 35%);
$primary-dark: darken($primary, 15%);
$danger: #ff5950;
$danger-hover: transparentize($danger, 0.2%);
$danger-light: lighten($danger, 30%);
$danger-dark: darken($danger, 15%);
$warning: #ff965d;
$warning-hover: transparentize($warning, 0.2%);
$warning-light: lighten($warning, 25%);
$warning-dark: darken($warning, 15%);
$success: #49c96d;
$success-hover: transparentize($success, 0.2%);
$success-light: lighten($success, 40%);
$success-dark: darken($success, 15%);
