@use "./colors" as *;

:root {
  --form-control-padding-x: 0.8rem;
  --form-control-padding-y: 0.4628rem;
  --form-control-height: 2.625rem;
  --form-control-height-lg: 3rem;
  --form-control-height-sm: 2.25rem;
}
