@use "./variables";
@use "./_mixins/media";

.app {
  display: grid;
  grid-template-columns: 300px 1fr;

  &.collapsed {
    grid-template-columns: auto 1fr;
  }

  @include media.respondto(laptop, min) {
    grid-template-columns: 320px 1fr;
  }

  @include media.respondto(tablet-landscape) {
    grid-template-columns: auto 1fr;
  }
}

.container {
  padding: map-get(variables.$container-padding, sm);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
