@use "./variables";

.app {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.app.collapsed {
  grid-template-columns: auto 1fr;
}

.container {
  padding: variables.$container-padding;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

// breakpoint xl
@media (min-width: map-get(variables.$breakpoints, "xl")) {
  .app {
    grid-template-columns: 320px 1fr;
  }
}

// breakpoint lg
@media (max-width: map-get(variables.$breakpoints, "lg")) {
  .app {
    grid-template-columns: auto 1fr;
  }
}
