@use "./variables";

.app {
  display: grid;
  grid-template-columns: 300px 1fr;

  &.collapsed {
    grid-template-columns: auto 1fr;
  }

  @media (min-width: map-get(variables.$breakpoints, "xl")) {
    grid-template-columns: 320px 1fr;
  }

  // breakpoint lg
  @media (max-width: map-get(variables.$breakpoints, "lg")) {
    grid-template-columns: auto 1fr;
  }
}

.container {
  padding: map-get(variables.$container-padding, "sm");
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
