$radius: (
  "xs": 6px,
  "sm": 10px,
  "lg": 14px,
  "xl": 20px,
);

$breakpoints: (
  "xs": 576px,
  "sm": 768px,
  "lg": 992px,
  "xl": 1200px,
);

$form-controls-height: (
  "xs": 2.25rem,
  "sm": 2.625rem,
  "lg": 3rem,
);

$form-controls-padding-y: (
  "sm": 0.4628rem,
  "lg": 2rem,
);

$form-controls-padding-x: (
  "sm": 0.8rem,
);

$container-padding: (
  "sm": 1.2rem,
  "lg": 1.8rem,
);

$transition-duration: 0.2s;
$font-family: "Poppins", sans-serif;

@mixin flex($gap) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin flex-column {
  @include flex;
  flex-direction: column;
}
